<%= form_for([current_user, @place], local: true) do |form| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(place.errors.count, "error") %> prohibited this city from being saved:</h2>

      <ul>
      <% place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :city_name %>
    <%= form.text_field :city_name, id: :city_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
